<html ng-app="myApp" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="../public/js/angular.js"></script>
	<script src="../assets/js/user.js"></script>

</head>

<body ng-controller="FriendDetailClt">
	<div >
		<div class="box-header">
			<div class="text-right">
				<a href="#" class="btn btn-link" style="color:#1A7BE0">
					<h2>{{username}}</h2>
				</a>
				<a menu-link href="/friendlist" name="friendlist">
					<button  class="btn btn-link" style="color:#1A7BE0"><h2>Go to Back</h2></button>
				</a>
				<a menu-link href="/" name="index" class="btn btn-link" style="color:#1A7BE0">
					<h2>Logout</h2>
				</a>
			</div>
		</div>
		<div class="box" style="padding:100px">
			<div class="box-body">
				<div class="row">
					<div  class="col-lg-4">

						<img class="hero" style="width:300px;height:auto" src="assets/images/">
					</div>
					<div class="col-md-8">
						<h3 class="table-title">{{user}}</h3>
						<p>{{email}}</p>
						<p>{{dob | date:"dd/MMM/yyyy"}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>