<html ng-app="myApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="../public/js/angular.js"></script>
	<script src="../assets/js/user.js"></script>

</head>
<body ng-controller="homeCtl">
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '347561542256670',
      xfbml      : true,
      version    : 'v2.8'
    });
    //FB.AppEvents.logPageView();
   
   FB.getLoginStatus(function(response) {

       if (response.status === 'connected') 
        {
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
			sessionStorage.setItem('accessToken',accessToken);
			//window.location.href="/home";
        } 
        else if (response.status === 'not_authorized') 
        {
            // the user is logged in to Facebook, 
            // but has not authenticated your app
            console.log("but has not authenticated your app");
			window.location.href="/";
			return;
		} 
        else 
        {
            // the user isn't logged in to Facebook.
            console.log("the user isn't logged in to Facebook.");
			window.location.href="/";
			return;
		}
        });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   
   function logout()
   {
	   window.location.href="/";
	   sessionStorage.removeItem('accessToken');
	   /*
       FB.logout(function(response) {
           console.log("User is logout",response);
		   
      });*/
   }
</script>
   </script>
	<div class="box-header">
		<div class="text-right">
			<a href="#" class="btn btn-link" style="color:#1A7BE0">
				<h2>{{username}}</h2>
			</a>
			<a href="#" class="btn btn-link" onclick="logout()" style="color:#1A7BE0">
				<h2>Logout</h2>
			</a>
		</div>
	</div>
	<div class="box" style="padding:100px">



<div class="row" >
	<div class="col-md-6 col-lg-3" ng:repeat="(key, item) in data">
		<div class="table-responsive well no-padding white no-margin">
			<img class="hero" ng-src={{item.fphoto}}><br /><br />
			<input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" /> {{ item.fname
			}}
		</div>

	</div>
</div>
		<div class="butt">
			<div class="form-group row" style="margin-left:450px">
				<div class="col-sm-12 text-left">
					<a menu-link href="/friendlist" name="friendlist">
						<button class="btn btn-primary" id="bt1" style="background-color:#1A7BE0" ng-click="viewselected()">Import selected friends</button>
					</a>

				</div>

			</div>
		</div>
	</div>

</body>

</html>