
<!DOCTYPE html>
<html   ng-app="" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="../public/js/angular.js"></script>

</head>
<body>

<div class="box-header">
             <div class="text-right">
		     <a href="#" class="btn btn-link"  style="color:#1A7BE0"><h2>Login</h2></a>
            </div>
</div>

<div class="container">
	<div class="jumbotron">
		<h2 style="text-align:center">Lorem Ipsum this is some text why you need giftreminder.com</h2>
		
		  
	</div>
	 <div class="col-sm-12 text-center">
	 <a menu-link href="/home" name="home">
             <button type="submit" class="btn btn-primary"  style="background-color:#1A7BE0">Add your Facebook friends</button>
        </a>
     
     </div>
	
	
</div>

</body>
</html>